$font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

.container {
  position: relative;
  font-size:2em;
  margin-left: -3rem;
}

.plate {
  display: block;
  padding: 3px;
  vertical-align: top;
  text-align: center;
  text-transform: uppercase;
  background-color: #f9cd27;
  white-space: nowrap;
  border-radius: 4px 0 0 4px;
  text-decoration: none!important;
  text-shadow: -1px -1px rgba(255,255,255,.5);
  background-image: linear-gradient(to bottom right,rgba(255,255,255,.03125) 0,rgba(255,255,255,.03125) 50%,rgba(0,0,0,.03125) 51%,rgba(0,0,0,0) 100%);
  box-shadow: inset 1px 1px 1px 1px rgba(255,255,255,.25), inset 0 1px rgba(255,255,255,.5), inset 0 -16px 64px -25.6px rgba(0,0,0,.25), inset 0 32px 32px -25.6px rgba(255,255,255,.5), 0 0 0 1px rgba(0,0,0,.1), 0 3.2px 12.29px rgba(0,0,0,.5);
  max-width: 8em;
}

.input {
  position: relative;
  border: none;
  background: 0 0;
  height: 100%;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 0 0 0 1.05rem;
  text-transform: uppercase;
  font-size: 1em;
  font-family: 'Mandatory', $font-family;
}

.search {
  cursor:pointer;
  font-size: 1.3em;
  padding:3px;
  display: block;
  position: absolute;
  right:-1.065em;
  top:0;
  border-radius: 0 4px 4px 0;

  background-color: green;
  text-shadow: -1px -1px rgba(255,255,255,.5);
  background-image: linear-gradient(to bottom right,rgba(255,255,255,.03125) 0,rgba(255,255,255,.03125) 50%,rgba(0,0,0,.03125) 51%,rgba(0,0,0,0) 100%);
  box-shadow: inset 1px 1px 1px 1px rgba(255,255,255,.25), inset 0 1px rgba(255,255,255,.5), inset 0 -16px 64px -25.6px rgba(0,0,0,.25), inset 0 32px 32px -25.6px rgba(255,255,255,.5), 0 0 0 1px rgba(0,0,0,.1), 0 3.2px 12.29px rgba(0,0,0,.5);

  &[disabled] path {
    opacity:0.5;
    pointer-events: none;
  }

}

.smallPlates {
  text-align: center;

  p {
    color:grey;
  }
}

.smallPlate {
  @extend .plate;
  display: inline-block;
  color: black;
  padding: 5px 10px;
  border-radius: 2px;
  margin:5px;
}
